Questa_Project/work/
Questa_Project/
Questa_Project/work/@_opt1/_data/
Questa_Project/work/@_opt1
Quartus_Project/output_files/
Questa_Project/vsim.wlf
**/db/
**/incremental_db/
*.bak
*.wlk
*.ini
**/output_files/*.*
**/output_files/!*.sof
**/Quartus_Project/greybox_tmp
*.mti
*.mpf
*.qws
*.ppf
*.qip
*.qdb
*.jar

transcript
!*.sof